/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#Apane{
	-fx-background-color:#333;
}

#username{
	-fx-text-fill:#fff;
	-fx-font-size:15px;
}

#password{
	-fx-text-fill:#fff;
	-fx-font-size:15px;
}

#header{
	-fx-text-fill:aqua;
	-fx-font-size:30px;
}

#btn{
	-fx-background-color:coral;
	-fx-text-fill:#fff;
	-fx-font-size:15px;
}

#txt1{
	-fx-text-inner-color:#333;
}
